.grid {
  height: 560px;
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: 18vw;
  margin-top: 5vh;
}

.grid div {
  height: 70px;
  width: 70px;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

h3 {
  text-align: center;
  font-size: 3vh;
}

h1 {
  text-align: center;
  font-size: 8vh;
  font-weight: bold;
}
body {
  background-image: url(images/wp2347555.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  widows: 100vw;
}
